<div class="container">
  <div class="w3-card-2 w3-margin activity_table" style="max-width:400px;">
    <header class="w3-container w3-light-grey w3-padding-16">
      <h3>My Activities</h3>
    </header>

    <!-- Activity component -->
    <app-activities></app-activities>
    <!--end Activity component -->

    <div class="w3-container w3-light-grey w3-padding-16">
      <div class="w3-row w3-margin-top">
        <div class="w3-col s10">
          <input placeholder="Add activity here" class="w3-input w3-border w3-padding">
        </div>
        <div class="w3-col s2">
          <button class="w3-btn w3-padding w3-green">Add</button>
        </div>
      </div>
      <p class="w3-text-red">ERR</p>
    </div>
  </div>
</div>