<!-- input nhap hoat dong -->
<form (submit)="addActivity()">
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add activity here" name="addActivity"
        [(ngModel)]="inputActivity">
    <div class="input-group-append">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</div>
</form>
<!-- end input nhap hoat dong -->

<!-- bang cac hoat dong -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Activity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities; let i = index">
            <th scope="row">{{i+1}}</th>
            <td> {{activities[i]}}
            </td>
            <td>
                <i class="fa fa-trash text-danger" aria-hidden="true" (click)="deleteActivity(i)"></i>
            </td>
        </tr>

    </tbody>
</table>
<!-- end bang cac hoat dong -->